.avatars-initials {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 5px;
  flex-grow: 6
}

/* .app-bar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr)
} */

.dragon-group {
  margin-left: 20px;
}
